
    .back {
      background-image: url("bg.jpg");
    }

    h1 {
      text-align: center;
    }

    form {
      margin: 0 auto;
      width: 50%;
      border: 1px solid black;
      padding: 10px;
    }

    label {
      display: block;
      margin-bottom: 5px;
    }

    select,
    input {
      margin-bottom: 10px;
    }

    button {
      display: block;
      margin: 0 auto;
    }
  